<div id="mainHome" style="margin-top: 40px;"></div>

<div id="userSidebar" class="split-left">
  <h1 id="welcomeTitle">Welcome Back, {{ currentUser.name }} {{ currentUser.surname }}!</h1>
  <button (click)="goToUpload()">Upload a Document</button>
  <button (click)="goToSettings()">Settings</button>
</div>

<hr id="dividerLine" />

<div id="userContent" class="split-right">

  <div id="documentSection" class="docs-box">
    <h2 id="h2recent">Personal Documents</h2>
    <a [routerLink]="['/user', this.currentUser.name.toLowerCase(), 'list']">View All</a>
    <ul>
      @if (docs$ | async; as docs) {
        @if (docs.length > 0) {
        <div id="carouselDocs" class="carousel-track">
          @for (doc of docs; track $index) {
          <div class="carousel-item">
            <app-user-docs [doc]="doc"></app-user-docs>
          </div>
          } @empty {
            <p id="noDocsMessage">There are no personal documents</p>
          }
        </div>
        } @else {
        <p class="empty-state">There are no personal documents at the moment</p>
        }
      }
    </ul>
  </div>

  <div id="favoritesSection" class="fav-box">
    <h2>Favorites</h2>
    <a [routerLink]="['/user', this.currentUser.name.toLowerCase(), 'favorites']">View All</a>
    <ul>
      @for (item of items; track $index) {
        <li></li>
      } @empty {
        <p id="noFavsMessage">There are no favorites at the moment</p>
      }
    </ul>
  </div>

</div>