<body>
    <footer>
        <div class="footer-content">
            <div class="company-info">
                <p><strong>Telefono:</strong> +39 0984 123456</p>
                <p><strong>P.IVA:</strong> 01234567890</p>
                <p><strong>Sede legale:</strong> <a href="https://www.google.com/maps?q=Via+Pietro+Bucci,+Rende" target="_blank">Via Pietro Bucci, 87036 Rende (CS), Italia</a></p>
            </div>
            <div class="social-links">

                <!-- ho usato bootstrap per prendere le icone e le ho richiamate nel file angular.json -->
                <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.tiktok.com" target="_blank"><i class="bi bi-tiktok"></i></a>
            </div>
            <div class="unical-link">
                <a href="https://www.unical.it" target="_blank">Università della Calabria</a>
                <p><strong>Contattaci: </strong>notes4&#64;unical.edu</p> 
                <!-- &#64; dato che non posso mettere la @ -->
            </div>
        </div>
    </footer>

</body>