@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css');



footer {
    background-color: #800020;
    color: white;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 99%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    height: 15px; /* basso di default */
    overflow: hidden;
    transition: height 0.4s ease, padding 0.4s ease;
    z-index: 1000;
}

footer:hover {
    height: 60px; /* espande all’hover */
    padding: 10px;
}


footer:hover .footer-content {
    opacity: 1;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.company-info {
    flex: 1;
    text-align: left;
}
.company-info p {
    margin: 3px 0;
}
.company-info a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.company-info a:hover {
    text-decoration: underline;
}
.social-links {
    display: flex;
    justify-content: center;
    flex: 1;
}
.social-links a {
    margin: 0 8px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links a i {
    font-size: 24px;
}
.social-links a:hover {
    color: #ddd;
}
.unical-link {
    flex: 1;
    text-align: right;
}
.unical-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.unical-link a:hover {
    text-decoration: underline;
}