<header
  [class.shrinked]="!isHomePage && !isHovered"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div class="logo">
    <h1><a routerLink="/">NOTES4UNICAL</a></h1>
  </div>

  <nav>
          <!-- Qui metti "Ciao, nome" se loggato -->
      <span class="greeting" *ngIf="user">Ciao, {{ user.name }}</span>

      
    <div class="toggle-container">
      <label class="switch">
        <input type="checkbox" class="switch-input" (change)="toggleTheme($event)">
        <span class="slider">
          <i class="bi bi-sun-fill sun-icon"></i>
          <i class="bi bi-moon-fill moon-icon"></i>
        </span>
      </label>


    </div>

    <a routerLink="/preferiti">Preferiti</a>
    <a routerLink="/user">Profilo</a>

    <a *ngIf="!user" routerLink="/login">Login</a>
    <a *ngIf="user" href="#" (click)="logout($event)">Logout</a>
  </nav>
</header>
