<main id="mainHome">
  <div class="search-container">
    <input type="text" placeholder="Find Documents">
    <button class="search-btn">🔍</button>
  </div>

  <section class="recent-similar">
    <h2 id="h2recent">List of latest uploads</h2>
    <div class="document-list">
      <div class="document" *ngFor="let doc of documents">
        <a [routerLink]="['/doc', doc.id, doc.title, doc.subject, doc.year]">
          <div class="thumbnail"></div>
          <p>{{ doc.title }}</p>
          <p>{{ doc.subject }}</p>
          <p>{{ doc.year }}</p>
        </a>
      </div>
    </div>
  </section>

  <!-- Bottone che porta alla pagina di upload -->
  <div class="upload-icon">
    <h3>Upload a Document</h3>
    <p>⬇︎</p>
    <a routerLink="docs/upload">
      <button class="upload-btn">📤 Go to the upload page</button>
    </a>
  </div>
</main>