<main id="mainHome">
  <div class="hero-section">
    <div class="overlay"></div>

    <div class="hero-text">
      <h1>Notes4Unical</h1>
      <p>
        Abbiamo creato Notes4Unical per supportare la nostra community di studenti:
        un luogo dove possiamo condividere liberamente i nostri appunti, aiutandoci a vicenda nello studio.
        Qui ognuno può contribuire caricando i propri materiali e, allo stesso tempo,
        accedere agli appunti condivisi da altri. Crediamo che collaborare sia il modo migliore
        per affrontare l’università e crescere insieme.
      </p>
    </div>

    <div class="fade-out"></div>
  </div>

  <section class="content-section">
    <h2>Scopri gli appunti sul sito</h2>
    <button class="button" (click)="navigateToDocs()">Vai alla sezione appunti</button>

  </section>
</main>